<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661591842436-84tn1l4uh0dp8oetegef5jtpnpnt631p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661591842436-84tn1l4uh0dp8oetegef5jtpnpnt631p</string>
	<key>API_KEY</key>
	<string>AIzaSyD86zIGLWnWTg3BkdDJhLjOlPTw75uXW68</string>
	<key>GCM_SENDER_ID</key>
	<string>661591842436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LeonardoCaracho.MakeItSo</string>
	<key>PROJECT_ID</key>
	<string>make-it-so-4388e</string>
	<key>STORAGE_BUCKET</key>
	<string>make-it-so-4388e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661591842436:ios:11aa6d591d8de521cb6cd1</string>
</dict>
</plist>